/*Color Variables section */

:root {
	--gray: #f3f4f6;
	--red: #fee2e2;
	--yellow: #fef3c7;
	--green: #d1fae5;
	--blue: #dbeafe;
	--indigo: #e0e7ff;
	--purple: #ede9fe;
	--pink: #fce7f3;
	--dark-gray: #262626;
	--dark-red: #991b1b;
	--dark-yellow: #92400e;
	--dark-green: #47aa5d;
	--dark-blue: #1e40af;
	--dark-indigo: #3730a3;
	--dark-purple: #a9229b;
	--dark-pink: #9d174d;
	--icon-green: #34d399;
	--icon-yellow: #fbbf24;
	--icon-red: #f87171;
	--icon-blue: #60a5fa;
}

/*Tooltip section */

.tooltip_class {
	display: flex;
	width: 384px;
	height: 98px;
	border-radius: 8px;
	padding: 16px;
	background-color: #ffffff;
	flex-direction: column;
}

.tooltip_class h3 {
	font-family: Inter;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0%;
}

.tooltip_class p {
	font-family: Inter;
	font-weight: 200;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0%;
	margin-left: 40px;
	margin-top: 0;
}

.close_button {
	font-size: 24px;
	color: #6b7280;
	cursor: pointer;
}

.tooltip_icon {
	width: 24px;
	height: 24px;
	color: #6b7280;
}

.tooltip_close_icon {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
}

.tooltip_header_icon_container {
	justify-content: space-between;
	display: flex;
	align-items: center;
	gap: 16px;
}

.tooltip_triangle {
	position: relative;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid;
	left: 20%;
	bottom: -10px;
	transform: translateX(-50%);
}

/* Card Section */

.card {
	width: 384px;
	height: 208px;
	padding-right: 24px;
	padding-bottom: 32px;
	padding-left: 24px;
	border-radius: 8px;
	background-color: #f9fafb;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card_icon {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: white;
	font-size: 32px;
}

.card div {
	width: 48px;
	height: 48px;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -12%;
	cursor: pointer;
}

.card p {
	font-family: Inter;
	font-weight: 200;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;
}

.card h3 {
	font-family: Inter;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0%;
	text-align: center;
}

/*Toast section */

.toast_icon.success {
	color: var(--icon-green);
}

.toast_icon.warning {
	color: var(--icon-yellow);
}

.toast_icon.error {
	color: var(--icon-red);
}

.toast_icon.info {
	color: var(--icon-blue);
}

.toast {
	width: 352px;
	height: 96px;
	border-radius: 8px;
	padding: 1.6px 16px;
	display: flex;
	flex-direction: column;
	gap: 0;
	justify-content: center;
}

.toast div {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 16px;
}

.toast div h3 {
	font-family: Inter;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0%;
}

.toast_text {
	text-align: start;
	font-family: Inter;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0%;
	margin: 0 0 0 32px;
}

.toast_icon {
	width: 18px;
	height: 18px;
	top: 3px;
	left: 3px;
	border-width: 2px;
}

/* Color Classes */
.bg_gray {
	background-color: var(--gray);
	color: var(--dark-gray);
}

.bg_red {
	background-color: var(--red);
	color: var(--dark-red);
}

.bg_yellow {
	background-color: var(--yellow);
	color: var(--dark-yellow);
}

.bg_green {
	background-color: var(--green);
	color: var(--dark-green);
}

.bg_blue {
	background-color: var(--blue);
	color: var(--dark-blue);
}

.bg_indigo {
	background-color: var(--indigo);
	color: var(--dark-indigo);
}

.bg_purple {
	background-color: var(--purple);
	color: var(--dark-purple);
}

.bg_pink {
	background-color: var(--pink);
	color: var(--dark-pink);
}

/* Darker Color Classes */

.bg_dark_white {
	background-color: #ffffff;
	color: #262626;
}

.bg_dark_gray {
	background-color: var(--dark-gray);
	color: var(--gray);
}

.bg_dark_red {
	background-color: var(--dark-red);
	color: var(--red);
}

.bg_dark_yellow {
	background-color: var(--dark-yellow);
	color: var(--yellow);
}

.bg_dark_green {
	background-color: var(--dark-green);
	color: var(--green);
}

.bg_dark_blue {
	background-color: var(--dark-blue);
	color: var(--blue);
}

.bg_dark_indigo {
	background-color: var(--dark-indigo);
	color: var(--indigo);
}

.bg_dark_purple {
	background-color: var(--dark-purple);
	color: var(--purple);
}

.bg_dark_pink {
	background-color: var(--dark-pink);
	color: var(--pink);
}

/*Button section */

button {
	width: 80px;
	height: 32px;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	border: none;
	background-color: #f3f4f6;
	font-family: Inter;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0%;
	text-align: center;
}

.button_pill {
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
}

.button_square {
	width: 80px;
	height: 32px;
}

/* Banner section */

.banner_class {
	width: 896px;
	height: 80px;
	gap: 12px;
	top: -192px;
	left: -919px;
	border-radius: 6px;
	padding: 16px;
}

.banner_class_small {
	width: 864px;
	height: 40px;
	gap: 12px;
	top: -158px;
	left: 23px;
	border-radius: 6px;
	padding: 16px;
	display: flex;
}

.banner_class div {
	display: flex;
	align-items: center;
	gap: 16px;
}

.banner_class p {
	margin: 0 0 0 36.8px;
	font-family: Inter;
	font-weight: 300;
	font-size: 14.4px;
	letter-spacing: 0%;
}

/* Testimonials section */

.testimonials {
	width: 672px;
	height: 96px;
	padding: 80px;
	display: flex;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	justify-content: center;
	align-items: left;
	position: relative;
	z-index: 2;
	gap: 16px;
}

.dots-image {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 160px;
	height: 160px;
	z-index: -1;
}

.testimonials div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.testimonials .word_sep {
	color: #2e59f3;
	font-weight: 900;
	font-size: 16px;
}

.testimonials div p {
	max-width: 480px;
}

.testimonials div div {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.testimonials .Testimonials_img {
	width: 288px;
	height: auto;
	border-radius: 12px;
	object-fit: contain;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.testimonials .img_style_text {
	display: flex;
	flex-direction: column;
	text-align: start;
	width: 100%;
}

@media (max-width: 600px) {
	.testimonials {
		max-width: 12rem;
		width: 12rem;
		height: auto;
		padding: 32px;
		display: flex;
		flex-direction: column;
		gap: 0;
	}

	.testimonials div {
		gap: 0;
	}

	.testimonials .img_container {
		height: auto;
		position: relative;
		bottom: 25%;
	}

	.testimonials .Testimonials_img {
		width: 100%;
		max-width: 192px;
		height: auto;
		object-fit: cover;
	}

	.dots-image {
		width: 160px;
		height: 128px;
	}

	.testimonials div {
		width: 100%;
		text-align: start;
	}

	.testimonials div p {
		max-width: 100%;
	}
}
